{% extends "base.html" %}


{% block content %}

<div class="container-fluid">
<div class="row-fluid">
    {% if form.errors %}
    <div class="alert-error">Your username and password didn't match. Please try again.</div>
</div>
    {% endif %}
    <div class="row-fluid">

<h1> Please Login</h1>

<form class="form-horizontal" action="" method="POST">{% csrf_token %}
<fieldset>

<div class="control-group span11">
<div class="controls">
    <label class="control-label">{{ form.username.label_tag }}</label>
    <div class="controls">{{ form.username }}</div>
</div>
</div>
<div class="controls">
    <label class="control-label">{{ form.password.label_tag }}</label>
    <div class="controls">{{ form.password }}</div>
    <p></p>
    <div class="row-fluid controls">
<button type="submit" class="btn">Login</button>
<input type="hidden" name="next" value="{{ next }}" />

</div>

</div>

</div>
</fieldset>
</div>

</form>
</div>
</div>

{% endblock %}
