{% extends "base.html" %}


{% block content %}

<h1> Please Login</h1>

{% if form.errors %}
<div>Your username and password didn't match. Please try again.</div>
{% endif %}

<form class="form-horizontal" action="" method="POST">{% csrf_token %}

<div class="control-group">
<div class="controls">
    <label class="control-label">{{ form.username.label_tag }}</label>
    <div class="controls">{{ form.username }}</div>
</div>
</div>

<div class="control-group">
<div class="controls">
    <label class="control-label">{{ form.password.label_tag }}</label>
    <div class="controls">{{ form.password }}</div>
</div>
</div>

<div class="controls">
<button type="submit" class="btn">Login</button>
</div>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
