{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="page-header"><h1>Settings</h1></div>
        <div class="row-fluid">
            <div class="span2">
                <div>
                    <ul class="nav nav-list">
                        {% url 'bdp-account-settings' as bdp_account %}
                        {% url 'computation-platform-settings' as computation_platform %}
                        {% url 'storage-platform-settings' as storage_platform %}
                        <!-- Commented out be the bdp_account page was throwing an exception.
                        <li {% if request.path == bdp_account %} class="active"{% endif %}>
                            <a href="{{ bdp_account }}">Account Settings</a></li-->
                        <li {% if request.path == computation_platform %} class="active"{% endif %}>
                            <a href="{{ computation_platform }}">Compute Resource</a></li>
                        <li{% if request.path == storage_platform %} class="active"{% endif %}>
                            <a href="{{ storage_platform }}">Storage Resource</a></li>
                    </ul>
                </div>
            </div><!--/span3-->
            <div class="span10"  style="padding-left:20px; border-left: 2px solid #ccc;">
                {% block account-settings-content %}
                {% endblock %}
            </div>
        </div><!--/row-->
    </div>
{% endblock %}
