{% extends "accountsettings/base_accountsettings.html" %}
{% block account-settings-content %}


<script type="text/javascript">
$(document).ready(function () {
    {% for platform_type, platform_details in all_headers.items %}
    $('.footable_{{platform_type}}').footable();
    {% endfor %}
{% for field in unix_form %}
$('#unix_4_{{forloop.counter}}').tooltip();
$('#unix_5_{{forloop.counter}}').tooltip();
$('#unix_6_{{forloop.counter}}').tooltip();
{% endfor %}
{% for field in mytardis_form %}
$('#mytardis_4_{{forloop.counter}}').tooltip();
$('#mytardis_5_{{forloop.counter}}').tooltip();
$('#mytardis_6_{{forloop.counter}}').tooltip();
{% endfor %}

   });

</script>



<!--create modal -->
<div class="modal hide fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Storage Platform</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab">
                  <li class="active"><a href="#unix" data-toggle="tab">Unix</a></li>
                  <li><a href="#mytardis" data-toggle="tab">MyTardis</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="unix">
                        <form class="form-horizontal" action="{{ action }}" method="POST" id="unix_form_create"> {% csrf_token %}

                             {% for field in unix_form.visible_fields %}
                                 <div class="control-group">
                                 <label class="control-label">{{field.label}}</label>
                                 <div class="controls">
                                     {{field}}
                                     {% if field.errors %}
                                     <span class="help-inline">{{field.errors}}</span>
                                     {% endif %}
                                     {% if field.help_text %}
                                     <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{field.help_text}}" id='unix_4_{{forloop.counter}}'><i  class="fa fa-question-circle"></i></a>
                                     {% endif %}
                                 </div>
                             </div>
                            {% endfor %}
                            {% for hidden in unix_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary" onclick="submitForm('create', 'unix_form_create');">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                     <div class="tab-pane" id="mytardis">
                        <form class="form-horizontal" action="{{ action }}" method="POST" id="mytardis_form_create"> {% csrf_token %}

                             {% for field in mytardis_form.visible_fields %}
                                 <div class="control-group">
                                 <label class="control-label">{{field.label}}</label>
                                 <div class="controls">
                                     {{field}}
                                     {% if field.errors %}
                                     <span class="help-inline">{{field.errors}}</span>
                                     {% endif %}
                                     {% if field.help_text %}
                                     <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{field.help_text}}" id='mytardis_4_{{forloop.counter}}'><i  class="fa fa-question-circle"></i></a>
                                     {% endif %}
                                 </div>
                             </div>
                            {% endfor %}
                            {% for hidden in mytardis_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary" onclick="submitForm('create', 'mytardis_form_create');">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- end create modal -->

<!--update modal -->
<div class="modal hide fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Storage Platform</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{{ action }}" method="POST" id="unix_form_update"> {% csrf_token %}

                     {% for field in unix_form.visible_fields %}
                         <div class="control-group">
                         <label class="control-label">{{field.label}}</label>
                         <div class="controls">
                             {{field}}
                             {% if field.errors %}
                             <span class="help-inline">{{field.errors}}</span>
                             {% endif %}
                             {% if field.help_text %}
                             <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{field.help_text}}" id='unix_5_{{forloop.counter}}'><i  class="fa fa-question-circle"></i></a>
                             {% endif %}
                         </div>
                     </div>
                    {% endfor %}
                    {% for hidden in unix_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" onclick="submitForm('update', 'unix_form_update');">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
                <form class="form-horizontal" action="{{ action }}" method="POST" id="mytardis_form_update"> {% csrf_token %}
                     {% for field in mytardis_form.visible_fields %}
                         <div class="control-group">
                         <label class="control-label">{{field.label}}</label>
                         <div class="controls">
                             {{field}}
                             {% if field.errors %}
                             <span class="help-inline">{{field.errors}}</span>
                             {% endif %}
                             {% if field.help_text %}
                             <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{field.help_text}}" id='mytardis_5_{{forloop.counter}}'><i  class="fa fa-question-circle"></i></a>
                             {% endif %}
                         </div>
                     </div>
                    {% endfor %}
                    {% for hidden in mytardis_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" onclick="submitForm('update', 'mytardis_form_update');">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- end update modal -->


<!--delete modal: merge this with update model -->
<div class="modal hide fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Storage Platform</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{{ action }}" method="POST" id="unix_form_delete"> {% csrf_token %}
                     {% for field in unix_form.visible_fields %}
                         <div class="control-group">
                         <label class="control-label">{{field.label}}</label>
                         <div class="controls">
                             {{field}}
                             {% if field.errors %}
                             <span class="help-inline">{{field.errors}}</span>
                             {% endif %}
                             {% if field.help_text %}
                             <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{field.help_text}}" id='unix_6_{{forloop.counter}}'><i  class="fa fa-question-circle"></i></a>
                             {% endif %}
                         </div>
                     </div>
                    {% endfor %}
                    {% for hidden in unix_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" onclick="submitForm('delete', 'unix_form_delete');">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
                <form class="form-horizontal" action="{{ action }}" method="POST" id="mytardis_form_delete"> {% csrf_token %}
                     {% for field in mytardis_form.visible_fields %}
                         <div class="control-group">
                         <label class="control-label">{{field.label}}</label>
                         <div class="controls">
                             {{field}}
                             {% if field.errors %}
                             <span class="help-inline">{{field.errors}}</span>
                             {% endif %}
                             {% if field.help_text %}
                             <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{field.help_text}}" id='mytardis_6_{{forloop.counter}}'><i  class="fa fa-question-circle"></i></a>
                             {% endif %}
                         </div>
                     </div>
                    {% endfor %}
                    {% for hidden in mytardis_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary" onclick="submitForm('delete', 'mytardis_form_delete');">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- end delete modal -->


<!--second column-->
<p><a data-toggle="modal" href="#createModal" class="btn btn-primary"  onclick="formreset();">Add Storage Platform</a></p>
<div>
{% for platform_type, platform_details in all_headers.items %}
     {% for header, schema in platform_details.items %}
          {% if platform_type == 'unix' %}
            <h2>Unix</h2>
         {% elif platform_type == 'mytardis' %}

            <h2>MyTardis</h2>

         {% else %}
            <h2>{{ platform_type }}</h2>

         {% endif %}


         <table class="footable_{{platform_type}} table table-hover table-striped table-bordered platform_table">
            <thead>
                <tr>
                    {% for h in header %}
                       {% if h == 'name' %}
                        <th class="col-1" data-hide="">
                            <strong>{{ h }}</strong>
                        </th>
                        {% elif h != 'password' %}
                        <th col="col-1" data-hide="phone, tablet">
                            <strong>{{ h }}</strong>
                        </th>
                        {% endif %}
                    {% endfor %}
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                {% for paramset_key, paramset in schema.items %}
                <tr>
                    {% for param_key, param in paramset.items %}
                        {% if param_key != 'password' %}
                            <td>  {{ param }}</td>
                        {% endif %}
                    {% endfor %}
                <td class="btn-group">
                    <a data-toggle="modal" href="#updateModal" class="btn btn-primary"
                       onclick="updatePlatform('{{ paramset.items|escapejs }}', '{{ platform_type|slugify }}');">
                                Update </a>
                  <button data-toggle="modal" href="#deleteModal" class="btn"
                          onclick="deletePlatform('{{ paramset.items|escapejs }}', '{{ platform_type|slugify }}');">Delete</button>
                </td>
                </tr>
                {% endfor %}
            </tbody>
         </table>
    {% endfor %}
{% endfor %}
</div>
<!--end second column-->
{% endblock %}