{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Bioscience Data Platform: TARDIS In The Cloud</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<style type="text/css">body{padding-top:10px;padding-bottom:40px}</style>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.theme.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-responsive.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "simpleui/css/default.css" %}">
<link href="{% static "footable/footable.core.css" %}" rel="stylesheet" type="text/css" />


<style>
    .modal-backdrop {background-color: #DCDCDC;}
    .body {margin-left: 0}
</style>

<script>

function closeDialog () {
    $('#createModal').modal('hide');
};

$( "#id_presets" ).change(function() {
  alert( "Handler for .change() called." );
});


function addPreset(form_id){
    form_content = ''
    bootbox.prompt("Enter name for the current parameter set", function(result) {
        result =  $.trim(result);
        if(result) {
            $("#id_presets").append('<option value='+result+'>'+result+'</option>');
            $("#id_presets").val(result)
            dictionary_string = sertializeForm(form_id, result)
            bootbox.alert(dictionary_string, function() {});
        }
    });
}


function deletePreset(form_id){
    var form =  '#' + form_id;
    selected_item = $(form + " #id_presets option:selected").val();
    bootbox.confirm("Are you sure you want to delete '" + selected_item + "'?", function(result) {
        if (result) {
            //bootbox.alert(selected_item + "deleted", function() {});
            $(form + " #id_presets option[value='" + selected_item + "']").remove();
            resetParameters(form_id)
        }
    });
}


function updatePreset(form_id){
    var form =  '#' + form_id;
    selected_item = $(form + " #id_presets option:selected").text();
    bootbox.alert("Parameters set '" + selected_item +
            "' updated. Current parameters  values are "  +
            sertializeForm(form_id, '') , function() {});
}


function resetParameters(form_id){
    dictionary = {
        'http://rmit.edu.au/schemas/input/system/compplatform/computation_platform' : 'csrack',
        'http://rmit.edu.au/schemas/input/system/cloud/number_vm_instances' : '16' ,
        'http://rmit.edu.au/schemas/input/system/cloud/minimum_number_vm_instances' : '10' ,
        'http://rmit.edu.au/schemas/input/reliability/maximum_retry' : '1' ,
        'http://rmit.edu.au/schemas/input/reliability/reschedule_failed_processes' : '' ,
        'http://rmit.edu.au/schemas/input/system/input_location' : 'amun_storage/input' ,
        'http://rmit.edu.au/schemas/input/system/output_location' : 'amun_storage/output' ,
        'http://rmit.edu.au/schemas/input/hrmc/pottype' : '1' ,
        'http://rmit.edu.au/schemas/input/hrmc/max_iteration' : '1' ,
        'http://rmit.edu.au/schemas/input/hrmc/error_threshold' : '0.03' ,
        'http://rmit.edu.au/schemas/input/hrmc/threshold' : '[1]' ,
        'http://rmit.edu.au/schemas/input/hrmc/optimisation_scheme' : 'MCSA' ,
        'http://rmit.edu.au/schemas/input/hrmc/iseed' : '42' ,
        'http://rmit.edu.au/schemas/input/hrmc/fanout_per_kept_result' : '12' ,
        'http://rmit.edu.au/schemas/input/mytardis/experiment_id' : '0' ,
        'http://rmit.edu.au/schemas/input/mytardis/mytardis_platform' : 'mytardis' ,
        'http://rmit.edu.au/schemas/input/sweep/sweep_map' : '{"var": [1,2,3,4]}'
    }
    default_dictionary = {
        'http://rmit.edu.au/schemas/input/system/compplatform/computation_platform' : 'csrack',
        'http://rmit.edu.au/schemas/input/system/cloud/number_vm_instances' : '1' ,
        'http://rmit.edu.au/schemas/input/system/cloud/minimum_number_vm_instances' : '1' ,
        'http://rmit.edu.au/schemas/input/reliability/maximum_retry' : '2' ,
        'http://rmit.edu.au/schemas/input/reliability/reschedule_failed_processes' : "checked" ,
        'http://rmit.edu.au/schemas/input/system/input_location' : 'nectar_vm/input' ,
        'http://rmit.edu.au/schemas/input/system/output_location' : 'nectar_vm/output' ,
        'http://rmit.edu.au/schemas/input/hrmc/pottype' : '1' ,
        'http://rmit.edu.au/schemas/input/hrmc/max_iteration' : '10' ,
        'http://rmit.edu.au/schemas/input/hrmc/error_threshold' : '0.03' ,
        'http://rmit.edu.au/schemas/input/hrmc/threshold' : '[1]' ,
        'http://rmit.edu.au/schemas/input/hrmc/optimisation_scheme' : 'MCSA' ,
        'http://rmit.edu.au/schemas/input/hrmc/iseed' : '42' ,
        'http://rmit.edu.au/schemas/input/hrmc/fanout_per_kept_result' : '12' ,
        'http://rmit.edu.au/schemas/input/mytardis/experiment_id' : '0' ,
        'http://rmit.edu.au/schemas/input/mytardis/mytardis_platform' : 'mytardis' ,
        'http://rmit.edu.au/schemas/input/sweep/sweep_map' : '{}'
    }
    var form = '#' + form_id;
    selected_item = $.trim($("form #id_presets option:selected").text());
    if (selected_item === 'default'){
        dictionary = default_dictionary
    }
    $.each($(form).serializeArray(), function() {
        if (this.name != 'preset_name'){
            (document.getElementsByName(this.name)[0]).value = dictionary[this.name]
        }
    });
    //bootbox.alert("YOu selected " + form_content, function() {});
}


function sertializeForm(form_id, result){
    var form = '#' + form_id;
    form_content = ''
    result =  $.trim(result);
    $.each($(form).serializeArray(), function() {
        if (this.name == 'preset_name' && result){
            this.value = result
        }
        form_content += "'" + this.name + "' : '" + this.value + "' , "
    });
    dictionary_string = "{" + form_content + "}"
    return dictionary_string
}


function submitForm(description, form_id) {
    var form = '#' + form_id;
    var operation = $(form + ' #id_operation');
    operation.val(description);
    form.validate();
    if (form.valid()){
        form.submit()
    }
    formreset()
}

function updatePlatform(parameters, platform_type) {
    $('form[id*="_form_update"]').hide();
    formreset()
    if (platform_type == 'csrack' || platform_type == 'nectar'){
        platform_type = 'cloud'
    }
    else if (platform_type == 'nci'){
        platform_type = 'cluster'
    }
    form_id = '#' + platform_type + '_form_update';
    $(form_id).show();
    $('form #id_platform_type').attr("disabled", "disabled")
    var current_params = parameters.replace(/[\]\(\)\[']/g, '');
    var array_params = current_params.split(',');
    for (var i=0;i<array_params.length;i++)
    {
        key = array_params[i].replace(/^[ \t]+|[ \t]+$./, '');
        value = array_params[++i].replace(/^[ \t]+|[ \t]+$./, '');
        param_id =   '#id_' + key
        $('form '+ param_id).val(value)
    };
    current_platform_name =  $('form #id_platform_name').val();
    $('form #id_filter').val(current_platform_name);
}

//consider merging the ff method with updatePlatform
function deletePlatform(parameters, platform_type) {
    $('form[id*="_form_delete"]').hide();
    fieldReadonly()
    if (platform_type == 'csrack' || platform_type == 'nectar'){
        platform_type = 'cloud'
    }
    else if (platform_type == 'nci'){
        platform_type = 'cluster'
    }
    form_id = '#' + platform_type + '_form_delete'
    $(form_id).show();
    var current_params = parameters.replace(/[\]\(\)\[']/g, '');
    var array_params = current_params.split(',');
    for (var i=0;i<array_params.length;i++)
    {
        key = array_params[i].replace(/^[ \t]+|[ \t]+$./, '');
        value = array_params[++i].replace(/^[ \t]+|[ \t]+$./, '');
        if (key=='password'){
            value = '--------'
        }
        param_id =   '#id_' + key
        $('form '+ param_id).val(value)
        //$('form '+ param_id).attr('readonly', true);
    };
}

function fieldReadonly(){
    var form =  $(this).closest('form').attr("id");
    $("form input[id][type='text']").attr("readonly", "readonly")
    $("form input[id][type='password']").attr("readonly", "readonly")
    $("form select[id]").attr("disabled", "disabled")
}

function formreset(){
    var form =  $(this).closest('form').attr("id");
    $("form input[id][type='text']").removeAttr("readonly");
    $("form input[id][type='password']").removeAttr("readonly");
    $("form input[id][type='text']").val("");
    $("form input[id][type='password']").val("");
    $("form select[id]").removeAttr("disabled");
    $("form select[id]").val($("form select[id] option:first").val());

 }



</script>

    <script type="text/javascript" src="{% static 'bootstrap/js/lib/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/lib/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'footable/footable.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/lib/bootbox.min.js' %}"></script>
{% block head %}
{% endblock head %}
</head>


    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <span class="brand"><a href="/">BDPHPC Beta</a></span>

              <div class="nav-collapse">
                <ul class="nav">
                    {% if not user.is_authenticated %}
                    <li><a  href="{% url login %}">login</a></li>
                    {% else %}
                    <li><a  href="{% url logout %}">logout</a></li>
                    <!-- <li><a  href="{% url hrmcjob-new %}">Create HRMC Job</a></li> -->
                    <li><a  href="{% url makedirective 0 %}">Create Job</a></li>
                <!--   <li><a  href="{% url sweepjob-new %}">Create SWEEP Job</a></li> -->
                    <li><a  href="{% url hrmcjob-list %}">Jobs</a></li>
<!--                    <li><a  href="{% url makejob-new %}">Create RemoteMake Job</a></li> -->
<!--                    <li><a  href="{% url userprofileparameter-list %}">User Settings</a></li-->
<!--                    <li><a  href="{% url listdir-list %}">Directory</a></li> -->
<!--                    <li><a  href="{% url copyjob-new %}">Copy Data</a></li> -->
                    {% if user.is_superuser %}
                     <li><a  href="/admin">Admin</a></li>
                     {%endif %}
                    <li><a href="{% url computation-platform-settings %}">Settings</a></li>
                  <!-- <p class="navbar-text pull-right">
                       <a href="" class="navbar-link">Settings</a>
                   </p> -->
                    {% endif %}
                </ul>
                <ul class="login-nav nav pull-right"></ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        {% if messages %}
        <div class="row-fluid">
            {% for message in messages %}
            {% if message.tags %} <div class="span10 offset1 alert alert-{{ message.tags}}">
            {% else %} <div>
            {% endif %}{{message}} </div>
            {% endfor %}
        </div>
            {% endif %}

               {% block content %}


         {% endblock %}
    <hr>
        <footer>
            <div class="container">
            <div class="row-fluid">
            <div class=""><img src="http://nectar.org.au/sites/default/files/logo-small.png">
                <small><p>The Bioscience Data Platform acknowledges funding from the <a href="http://www.nectar.org.au">NeCTAR project</a>.</p></small></div>
            </div>
        </div>
        </footer>
    </div>
</div>
</body>
</html>

