{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Bioscience Data Platform: TARDIS In The Cloud</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style type="text/css">body{padding-top:10px;padding-bottom:40px}</style>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-responsive.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "simpleui/css/default.css" %}">

<style>
    .modal-backdrop {background-color: #DCDCDC;}
    .body {margin-left: 0}
</style>

<script>
$(document).ready(function() {
     $('#createModal').bind('show', function () {
        });

     });
function closeDialog () {
    $('#createModal').modal('hide');
};
function submitForm(description) {
    var form =  $(this).closest('form').attr("id");
    var operation = $('form #id_operation');
    operation.val(description);
    form.validate();
    if (form.valid()){
        form.submit()
    }
    formreset()
}
function updatePlatform(parameters, platform_type) {
    $('form[id*="_form_update"]').hide();
    form_id = '#' + platform_type + '_form_update'
    $(form_id).show();
    $("form input[id][type='password']").val("");
    $('form #id_filters').val(parameters)
    var current_params = parameters.replace(/[\]\(\)\[']/g, '');
    var array_params = current_params.split(',');
    for (var i=0;i<array_params.length;i++)
    {
        key = array_params[i].replace(/^[ \t]+|[ \t]+$./, '');
        value = array_params[++i].replace(/^[ \t]+|[ \t]+$./, '');
        param_id =   '#id_' + key
        $('form '+ param_id).val(value)
    };
}

//consider merging the ff method with updatePlatform
function deletePlatform(parameters, platform_type) {
    $('form[id*="_form_delete"]').hide();
    form_id = '#' + platform_type + '_form_delete'
    $(form_id).show();
    $("form input[id][type='password']").val("*****");
    $('form #id_filters').val(parameters)
    var current_params = parameters.replace(/[\]\(\)\[']/g, '');
    var array_params = current_params.split(',');
    for (var i=0;i<array_params.length;i++)
    {
        key = array_params[i].replace(/^[ \t]+|[ \t]+$./, '');
        value = array_params[++i].replace(/^[ \t]+|[ \t]+$./, '');
        param_id =   '#id_' + key
        $('form '+ param_id).val(value)
        //$('form '+ param_id).attr('readonly', true);
    };
}

function formreset(){
    //var form =  $(this).closest('form').attr("id");
    $("input[id][type='text']").val("");
    $("input[id][type='password']").val("");
}
</script>
    <script type="text/javascript" src="{% static 'bootstrap/js/lib/jquery-1.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</head>

    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <span class="brand"><a href="/">BDPHPC Alpha</a></span>

              <div class="nav-collapse">
                   <p class="navbar-text pull-right">
                        <!--Logged in as <a href="#" class="navbar-link">Username</a-->
                       <a href="{% url bdp-account-settings %}" class="navbar-link">Settings</a>
                   </p>
                <ul class="nav">
                    <li><a  href="{% url login %}">login</a></li>
                    <li><a  href="{% url logout %}">logout</a></li>
                    <!-- <li><a  href="{% url hrmcjob-new %}">Create HRMC Job</a></li> -->
                    <li><a  href="{% url makedirective 16 %}">New Job</a></li>
                <!--   <li><a  href="{% url sweepjob-new %}">Create SWEEP Job</a></li> -->
                    <li><a  href="{% url hrmcjob-list %}">Retrieve Jobs</a></li>
<!--                    <li><a  href="{% url makejob-new %}">Create RemoteMake Job</a></li> -->
                    <li><a  href="{% url userprofileparameter-list %}">User Settings</a></li>
<!--                    <li><a  href="{% url listdir-list %}">Directory</a></li> -->
<!--                    <li><a  href="{% url copyjob-new %}">Copy Data</a></li> -->
                    <li><a  href="/admin">Admin</a></li>
                </ul>
                <ul class="login-nav nav pull-right"></ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        {% if messages %}
        <div class="row-fluid">
            {% for message in messages %}
            {% if message.tags %} <div class="span10 offset1 alert alert-{{ message.tags}}">
            {% else %} <div>
            {% endif %}{{message}} </div>
            {% endfor %}
        </div>
            {% endif %}

               {% block content %}


         {% endblock %}
    <hr>
        <footer>
            <div class="pull-left"><img src="http://nectar.org.au/sites/default/files/logo-small.png">
                <small><p>The Bioscience Data Platform acknowledges funding from the <a href="http://www.nectar.org.au">NeCTAR project</a>.</p></small></div>

        </footer>
    </div>
</div>
</body>
</html>

