{% extends "base.html" %}
{% load split %}
{% load humanize %}
{% block content %}
<script type="text/javascript">
$(document).ready(function () {
           {% for job in object_list %}
           $('#{{forloop.counter}}').tooltip();
           {% endfor %}
       });
</script>
<div class="row-fluid">
<div class="span11 offset1">
<h1> Jobs</h1>
</div>
</div>
<div class="row-fluid">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
            <td> <strong>JobID</strong>
            </td>
            <td>
                <strong>Directive</strong>
            </td>
            <td>
                <strong>Created</strong>
            </td>
            <td>
                <strong>Iteration:State</strong>
            </td>
</tr>
        </thead>
        <tbody>
{% for job in object_list %}
<tr class='{{job.2|split:"0"}}'>
<td class="span1">{{ job.0 }} </td>
<td class="span2">{{ job.3 }} <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{job.5}}" id='{{forloop.counter}}'><img src="#" class="icon-question-sign"></a>
</td>
<td class="span3">{{ job.4|date}} {{ job.4|time}} ({{job.4|naturaltime}})</td>

<td>{{job.2|split:"1"}}</td>
<td class="span1">
<div class="btn-group">
  <button onclick="window.location.href='{{ job.get_absolute_url }}'" class="btn" >Info</button>
  <button onclick="window.location.href='{% url finishedcontext-edit job.0 %}'" class="btn">Edit</button>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<div class="row-fluid">
<div class="pagination">
    <ul>

        {% if offset <= 0  %}
        <li class="disabled"><span>&laquo</span></li>
        {% else %}
        <li><a href='{% url hrmcjob-list %}?offset={{ offset|add:"-20"}}'>&laquo;</a></li>
        {% endif %}

        {% for page_offset in page_offsets %}
        {% if page_offset == offset %}
        <li class="active">
        {% else %}
        <li>
       {% endif %}
       <a href='{% url hrmcjob-list %}?offset={{page_offset}}'>{{ forloop.counter}}</a></li>
        {% endfor %}

        {% if total_count <= offset|add:"20"  %}
        <li class="disabled"><span>&raquo</span></li>
        {% else %}
        <li><a href='{% url hrmcjob-list %}?offset={{ offset|add:"20"}}'>&raquo;</a></li>
        {% endif %}

</ul>
</div>
</div>
{% endblock %}

