{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function () {
            $('.footable').footable();
       });
</script>
<div class="container">
    <div class="row-fluid">
<h1>User Settings for {{ user }} </h1>
            <table class="footable table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                    <th> <strong>Key</strong></th>
                    <th data-hide="phone"> <strong>Value</strong></th>
                    <th data-hide="phone, tablet"> <strong>Notes</strong></th>
                    <th></td>
                    </tr>
                </thead>
                <tbody>
{% for profileparameter in object_list %}
<tr>
<td>{{ profileparameter.name.name }}</td>
<td>{{ profileparameter.value }}</td>
<td><em>{{ profileparameter.name.help_text }}</em></td>

<td><button onclick="window.location.href='{% url userprofileparameter-edit pk=profileparameter.id %}'" class="btn">edit</button> </td>
</tr>
{% endfor %}
</tbody>
</table>
<p>
    <button onclick="window.location.href='{% url userprofileparameter-new %}'" class="btn">Add User Parameter</button>
</div></div>
{% endblock %}

