{% extends "base.html" %}

{% block content %}
<h1>User Profile</h1>
<ul>

    <ul>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <td> JobID
                    </td>
                    <td>
                        Owner
                    </td>
                    <td>
                        Current Stage
                    </td>

                    <td>
                        State
                    </td>
        </tr>
                </thead>
                <tbody>

{% for profileparameter in object_list %}

<td>
<tr>{{ profileparameter }} </tr>
<tr><button onclick="window.location.href='{% url userprofileparameter-edit pk=profileparameter.id %}'" class="btn">Edit</button>)
</tr>
{% endfor %}
<a href="{% url userprofileparameter-new %}">add user parameter</a>
</ul>

{% endblock %}
