
{% extends "base.html" %}
{% block content %}
<h1>User Profile</h1>

<ul>
        <table class="table table-hover">
            <thead>
                <tr>
                <td> JobID
                </td>
                <td>
                    Owner
                </td>
                <td>
                    Current Stage
                </td>

                <td>
                    State
                </td>
    </tr>
            </thead>
            <tbody>

{% for profileparameter in object_list %}
    <tr>
        <td>{{ profileparameter }} </li>
{% endfor %}
</ul>