{% extends "base.html" %}
{% block head %}
<meta http-equiv="refresh" content="260">
{% endblock head %}

{% load split %}
{% load humanize %}
{% block content %}
{% load staticfiles %}


<script type="text/javascript">
$(document).ready(function () {
           {% for job in object_list %}
           $('#{{ forloop.counter }}').tooltip();
           {% endfor %}
            $('.footable').footable();
            // {% for job in object_list %}
            //    {% if job.0 == job.6 %}
            //         $('#expand_{{job.0}}').html('{{job.0}} <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="bar" id="tooltip_{{job.0}}"><img src="#" class="icon-chevron-down"></a>')
            //    {% endif %}
            // {% endfor %}
            {% for job in object_list %}

              {% for id in object_list %}
              {% if id.6 == job.0  and id.0 != job.0%}
                $('#expand_{{job.0}}').html('{{job.0}} <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="bar" id="tooltip_{{job.0}}"><img src="#" class="icon-chevron-down"></a>');
              {% endif %}
              {% endfor %}

            {% endfor %}

       });
{% for job in object_list %}
$(document).on('click', '#expand_{{job.0}}', function(e) {

  {% for id in object_list %}
  {% if id.6 == job.0  and id.0 != job.0%}
  if ($("#row_{{id.0}}").is(':visible')) {
    $('#expand_{{job.0}}').html('{{job.0}} <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="foo" id="tooltip_{{job.0}}"><img src="#" class="icon-chevron-right"></a>');
  } else {
    $('#expand_{{job.0}}').html('{{job.0}} <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="bar" id="tooltip_{{job.0}}"><img src="#" class="icon-chevron-down"></a>');
  };
  $('#row_{{id.0}}').toggle('show');
  {% endif %}
  {% endfor %}

});
{% endfor %}
$(document).on('click','.delete', function(e) {
  e.preventDefault();

  elementList = document.querySelectorAll('[id^=delete_]');
  var list_of_names = jQuery.map(jQuery('input'), function(element) { if (element.checked) { return jQuery(element).attr('name'); }});

  bootbox.confirm("Are you sure you want to TERMINATE jobs: " + list_of_names, function(result) {
  if (result) { $('#myform-id').submit();}
  });
});
</script>
<div class="container-fluid">
<div class="row-fluid">
<div class="page-header"><h1> Jobs</h1></div>
<div>
  <strong>Download:&nbsp;</strong> <a href=" {% static "dumps/process_report.csv" %}"><font color="0000FF">process level timedata (CSV format) </font></a>
</div>&nbsp;
<div>
  <strong>Download:&nbsp;</strong> <a href=" {% static "dumps/stage_report.csv" %}"><font color="0000FF">stage specific timedata (CSV format)</font></a>
</div>&nbsp;
<div class="row-fluid">
    <form class="form-horizontal" id="myform-id" action="" method="POST"> {% csrf_token %}
    <table class="footable table table-hover table-bordered platform_table">
        <thead>
            <tr>
            <th class="col-1" data-hide=""> <strong>JobID</strong>
            <
            <th class="col-1" data-hide="">
                <strong>Directive</strong>
            </th>
            <th class="col-1" data-hide="phone,tablet">
                <strong>Created</strong>
            </th>
            <th class="col-1" data-hide="phone,tablet">
                <strong>Run Duration</strong>
            </th>
            <th class="" data-hide="phone">
                <strong>Iteration: Current task</strong>
            </th>
            <th class ="col-1" data-hide=""><strong>State</strong></th>
            <th class ="col-1" data-hide="">Details</th>
            <th class ="col-1" data-hide="">Terminate job?</th>
</tr>
        </thead>
        <tbody>
{% for job in object_list %}
{% if forloop.first %}
{% else %}
{% if job.0 == job.7 %}
    <tr><td></td></tr>
{% endif %}
{% endif %}

<tr class='{{job.4|split:"0"}}' id="row_{{job.0}}">
<td  id="expand_{{job.0}}"> {{ job.0 }}
</td>
<td >{{ job.5 }} <a href="#" data-toggle="tooltip" tabindex="-1" data-placement="right" title="{{job.6}}" id='{{forloop.counter}}'>
  <i  class="fa fa-question-circle"></i></a>
</td>
<td >{{ job.2|date}} {{ job.2|time}} ({{job.2|naturaltime}})</td>
<td >{{job.3|naturaltime}}</td>

<td>
{% if job.4|split:"0" == 'error' %}
<i class="fa fa-exclamation-circle"</i>
{% endif %}
{{job.4|custom_divide:"1"}}
</td>
<td>
  {% if not job.1 %}
  <strong>RUNNING</strong>
  {% else %}
  <strong>Stopped</strong>
  {% endif %}

</td>
<td >
<div class="btn-group">
    <a href="{{ job.8 }}" class="btn btn-small" >Info</a>
</div>
<td >
    <div class="control-group">
  <label class="checkbox"><input id="delete_{{job.0}}"  type="checkbox" name="delete_{{job.0}}" class="checkbox" /></label>
</div>
</td>
</div>
</td>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="controls">
    <button type="submit" class="delete offset10 btn btn-small btn-danger">Terminate selected jobs</button>
</div>
</form>

<div class="pagination">
<div class="row-fluid">
    <ul>

        {% if offset <= 0  %}
        <li class="disabled">&laquo</span></li>
        {% else %}
        <li><a href='{% url "hrmcjob-list" %}?offset={{ offset|add:"-20"}}'>&laquo;</a></li>
        {% endif %}

        {% for page_offset in page_offsets %}
        {% if page_offset == offset %}
        <li class="active">
        {% else %}
        <li>
       {% endif %}
       <a href='{% url "hrmcjob-list" %}?offset={{page_offset}}'>{{ forloop.counter}}</a></li>
        {% endfor %}

        {% if total_count <= offset|add:"20"  %}
        <li class="disabled"><span>&raquo</span></li>
        {% else %}
        <li><a href='{% url "hrmcjob-list" %}?offset={{ offset|add:"20"}}'>&raquo;</a></li>
        {% endif %}

</ul>
</div>
</div>
</div>
</div>
{% endblock %}
