{% extends "base.html" %}
{% block content %}

<h1> Submit new RemoteMake Job</h1>

<form class="form-horizontal" action="{{ action }}" method="POST"> {% csrf_token %}

    {% for field in form %}

        {% if field.errors %}
          <div class="control-group error">
            <label class="control-label">{{field.label}}</label>
            <div class="controls">
              {{field}}
              <span class="help-inline">{{field.errors}}</span>
            </div>
          </div>
         {% else %}
         <div class="control-group">

          <label class="control-label" for="id_{{field.html_name}}">{{field.label}}</label>
          <div class="controls">
              {{field}}
          </div>
              <div class="controls"><em>{{field.help_text}}</em></div>
          </div>
          {% endif %}
      {% endfor %}
      <div class="controls">
        <button type="submit" class="btn">Submit Job </button>
</div>
</form>

{%endblock %}
