/*.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #0f8780;
    background-image: -moz-linear-gradient(top, #0f8e76, #0f7c8e);
    background-image: -webkit-gradient(linear,0 0,0 100%,from( #0f8e76),to( #0f7c8e));
    background-image: -webkit-linear-gradient(top, #0f8e76, #0f7c8e);
    background-image: -o-linear-gradient(top, #0f8e76, #0f7c8e);
    background-image: linear-gradient(to bottom, #0f8e76, #0f7c8e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0f8e76', endColorstr='#ff0f7c8e', GradientType=0);
    border-color: #0f7c8e #0f7c8e #083f49;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

a {
    color: #0f8e76;
    text-decoration: none;
}
*/

.brand a {
  color: #d6d69f;
}

.navbar {
    border-top: 2px solid #e6e87b;
}

/*.navbar-inner {
    background-image: -webkit-linear-gradient(top, #a2a350, #304f3c);
    background-image: -o-linear-gradient(top, #a2a350, #304f3c);
    background-image: linear-gradient(top, #a2a350, #304f3c);
}*/

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: white;
    text-decoration: none;
    background-color: #304f3c;
}

.navbar .nav > li > a {
  color: #d6d69f;
}

.btn-info {
  background-color: #a2a350;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a350), to(#304f3c));
}

.btn-info:hover {
  background-color: #a2a350;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e87b), to(#a2a350));
}

a {
  color: #3e5c49;
}

.btn-primary {
  background-color: #304f3c;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a350), to(#304f3c));
  border-color: #304f3c;
}

.btn-primary:hover {
  background-color: #304f3c;
}

.label-info, .badge-info {
  background-color: #304f3c;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #304f3c;
}

.alert-info {
  border-color: #a2a350;
  color: #304f3c;
  background-color: #ddf7b0;
}

body {
  background-color: #edfaf2;
}

.well {
    background-color: #ddf7b0;
    border-color: #3e5c49;
}

h2 small, blockquote small {
    color: rgba(35, 66, 25, 0.79);
}

/* textinput widths */
#id_input_location {
    width: 900px;
}

#id_number_vm_instances {
    width: 200px;
}

#id_sweep_map {
    width: 900px;
}

#id_run_map {
    width: 900px;
}

#id_source_bdp_url {
    width: 900px;
}

#id_destination_bdp_url {
    width: 900px;
}
