/*.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #0f8780;
    background-image: -moz-linear-gradient(top, #0f8e76, #0f7c8e);
    background-image: -webkit-gradient(linear,0 0,0 100%,from( #0f8e76),to( #0f7c8e));
    background-image: -webkit-linear-gradient(top, #0f8e76, #0f7c8e);
    background-image: -o-linear-gradient(top, #0f8e76, #0f7c8e);
    background-image: linear-gradient(to bottom, #0f8e76, #0f7c8e);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0f8e76', endColorstr='#ff0f7c8e', GradientType=0);
    border-color: #0f7c8e #0f7c8e #083f49;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

a {
    color: #0f8e76;
    text-decoration: none;
}
*/

.brand a {
  color: #d6d69f;
}

.navbar {
    border-top: 2px solid #e6e87b;
}

/*.navbar-inner {
    background-image: -webkit-linear-gradient(top, #a2a350, #304f3c);
    background-image: -o-linear-gradient(top, #a2a350, #304f3c);
    background-image: linear-gradient(top, #a2a350, #304f3c);
}*/

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: black;
    text-decoration: none;
    background-color: #d6d69f;
}

.navbar .nav > li > a {
  color: #d6d69f;
}

.btn {
  color: black;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: black;
  background-color:#abc9c;
}


.btn-info {
  background-color: #a2a350;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a350), to(#304f3c));
}

.btn-warning {
  background-color: #2c3e50;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c3e50), to(#2c3e50));
  border-color: #304f3c;
  color: #d6d69f;
  color: #b94a48;
}

.btn-warning:hover {
  color: #1abc9c;
  color: #b94a48;

  background-color: #2c3e50;
}

.btn-info:hover {
  background-color: #a2a350;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e87b), to(#a2a350));
}

.nav > li > a
{
  color:#d6d69f;
  background-color: #2c3e50;
  text-shadow: 0 0 0;
}

.nav > li > a:hover
{
  color:#1abc9c;
  background-color: #2c3e50;
}

a {
  color: #d6d69f;
}


.btn-primary {
  background-color: #2c3e50;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c3e50), to(#2c3e50));
  border-color: #304f3c;
  color: #d6d69f;
}

.btn-primary:hover {
  color: #1abc9c;
  background-color: #2c3e50;

}

.label-info, .badge-info {
  background-color: #304f3c;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #304f3c;
}

.alert-info {
  border-color: #a2a350;
  color: #304f3c;
  background-color: #ddf7b0;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

body {
  background-color: #FFFFFC;
}

.well {
    background-color: #ddf7b0;
    border-color: #3e5c49;
}

h2 small, blockquote small {
    color: rgba(35, 66, 25, 0.79);
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}


.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}


/* textinput widths */
#id_input_location {
    width: 900px;
}

#id_output_location {
    width: 900px;
}

#id_number_vm_instances {
    width: 200px;
}

#id_sweep_map {
    width: 900px;
}

#id_run_map {
    width: 900px;
}

#id_source_bdp_url {
    width: 900px;
}

#id_destination_bdp_url {
    width: 900px;
}

body { padding-top: 80px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }

}

input[type=text], input[type=password] {
    height: 28px !important;
}

